* {
  box-sizing:border-box;
}

body {
  margin:0;
}

.clearfix {
  clear:both;

}

.header-banner {
  padding-top:35px;
  padding-bottom:100px;
  color:#FFF;
  font-family:Helvetica, serif;
  font-weight:100;
  background-image:url(http://grapesjs.com/img/bg-gr-v.png), url(http://grapesjs.com/img/work-desk.jpg);
  background-attachment:scroll, scroll;
  background-position:left top, center center;
  background-repeat:repeat-y, no-repeat;
  background-size:contain, cover;
}

.container-width {
  width:90%;
  max-width:1150px;
  margin:0 auto;
}

.logo-container {
  float:left;
  width:50%;
}

.logo {
  background-color:#fff;
  border-radius:5px;
  width:130px;
  min-height:30px;
  text-align:center;
  line-height:30px;
  color:#4d114f;
  font-size:23px;
  padding:10px;
}

.menu {
  float:right;
  width:50%;
}

.menu-item {
  float:right;
  font-size:15px;
  color:#eee;
  width:130px;
  min-height:50px;
  text-align:center;
  line-height:30px;
  font-weight:400;
  padding:10px;
}

.footer-under {
  background-color:#312833;
  padding-bottom:100px;
  padding-top:100px;
  min-height:300px;
  color:#eee;
  position:relative;
  font-weight:100;
  font-family:Helvetica,serif;
}

.copyright {
  background-color:rgba(0,0,0,0.15);
  color:rgba(238,238,238,0.5);
  bottom:0;
  position:absolute;
  width:100%;
  font-size:.75em;
  padding:1em 0;
}

.made-with {
  float:left;
  width:50%;
  padding:5px 0;
}

.foot-social-btns {
  display:none;
  float:right;
  width:50%;
  text-align:right;
  padding:5px 0;
}

.bdg-sect {
  padding-top:100px;
  padding-bottom:100px;
  font-family:Helvetica, serif;
  background-color:#fafafa;
}

.bdg-title {
  text-align:center;
  font-size:2em;
  margin-bottom:55px;
  color:#555;
}

.badges {
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap:wrap;
  padding:20px;
}

.badge {
  width:290px;
  font-family:Helvetica, serif;
  background-color:#FFF;
  margin-bottom:30px;
  box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
  border-radius:3px;
  font-weight:100;
  overflow:hidden;
  text-align:center;
}

.badge-body {
  margin:35px 10px;
}

#i8xvj {
  opacity:1;
  color:#1af3eb;
  font-weight:700;
  margin:10%;
  padding:10px;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}